/* color scheme */
:root {
    --primary-color: dark brown;
    --secondary-color: goldenrod;
    --background-color: beige;
    --text-color: #333;
}

/* typography */
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    line-height: 1.5;
    color: black;
    background-color: antiquewhite;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 0.5px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 10px;
}

/* Links */
a {
    color: goldenrod;
    text-decoration: none;
  }

  a:hover {
    color: goldenrbod;
  }

  /* Buttons */
button {
    border:darkred ;
    background-color: var(--primary-color);
    color:brown;
    border: rosybrown;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    cursor: crosshair;
  }

  button:hover {
    background-color: beige;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 5px;
    display: grid;
    grid-template-rows: auto;
    height: 100px;
  
  }

  header {
    background-color: antiquewhite;
    color: goldenrod;
    padding: 10px;
    text-align: center;
  }

  header nav ul {
    list-style: none;
    margin: 1%;
    padding: 1%;
    display: flex;
    justify-content: value;
  }
  
  header nav ul li {
    margin-right: 20px;
  }

  header nav a {
    color: darkolivegreen;
    text-decoration: value;
  }

  main {
    display: flexbox;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
  }
  
  header nav a:hover {
    color: brown;
  }

  header nav a:active {
    color: grey;
  }

  button:hover {
    background-color: #444;
  }

  button:focus {
    outline: solid;
    box-shadow: 4px 4px 8px gray;
  }

  button:active {
    background-color: #555;
  }

  /* Desktop */
@media (min-width: 1200px) {
  /* styles for desktop */
}

/* Laptop */
@media (min-width: 992px) and (max-width: 1199px) {
  /* styles for laptop */
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  /* styles for tablet */
}

/* Mobile */
@media (min-width: 480px) and (max-width: 767px) {
  /* styles for mobile */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  width: 30%; /* for larger screens */
  margin: 10px;
  background-color: gray;
  padding: 20px;
  border: 1px solid gray;
}

/* Switch to single-column layout on smaller screens */
@media (max-width: 768px) {
  .column {
    width: 100%; /* for smaller screens */
  }
}